* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: ghostwhite;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container {
    height: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: "side nav side";
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #242728;
    color: #b7b0a7;
}
.container-main {
    height: 4000px;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: "side main side";
    padding-top: 100px;
    background-color: #33383a;
    color: #b7b0a7;
}
.container-footer {
    height: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: "side footer side";
    background-color: #242728;
    color: #b7b0a7;
}

nav {
    overflow: hidden;
    display: grid;
    grid-template-columns: 60% 40%;
}
.leftnav {
    margin: auto 0;
}
.rightnav {
    text-align: right;
    margin: auto 0;
}
.rightnav button {
    padding: 10px;
}
li {
    margin: 0.3em;
    list-style: none;
    display: inline-block;

}


main {

}
main h2{
    font-weight: lighter;
}


footer {
    overflow: hidden;
    display: grid;
    grid-template-columns: 60% 40%;
}
.footerleft {
    margin: auto 0;
    text-align: left;
}
.footerright {
    margin: auto 0;
    text-align: right;
}
footer a {
    color: white;
    text-decoration: none;
}